.btn {
    border-radius: 5px;
    appearance: none;
    box-shadow: none;
    border: 1px solid #fff;
    background: none;
    padding: 5px 10px;
    color: #fff;
    font-size: 0.8rem;
}
.btn:hover {
    background-color: #fff;
    color: $color;
}
.form-group {
    margin: 1rem 0;
}

label {
    display: block;
    margin-left: 1rem;
    margin-bottom: .5rem;
}
input, textarea {
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    border: 1px solid $color;
}
::placeholder, ::-moz-placeholder, ::-webkit-input-placeholder, ::-ms-input-placeholder {
    color: $color;
    font-weight: 300;
}
  